<% provide(:title, "Contact") %>
    <h1>Contact</h1>
    <p>
      Please email <a href="mailto:ray.song@duke.edu" target="_top">
        Ray Song</a> for bug reports/additional information.
    </p>