<footer class="footer">
  <small>
    Created by <a href="http://yrsong.com">Ray Song</a>, Duke University Class of 2018
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://yrsong.com">News</a></li>
    </ul>
  </nav>
</footer>